<form action="/save_new_user" method="post" name="user">
  Insert here the user first name
  <input type="text" name="name" value=""></input>
  <button type="submit" name="button" value="Enviar">Cadastrar</button>
</form>

<ul>
  <b>Users list:</b>
    <% @user.each do |user| %>
      <li><%= user.id %> <%= user.name %></li>
    <% end %>
</ul>

<% if @user.last.id == 1 %>
  There is only one user
<% else %>
  There are <%= @user.last.id %> users
<% end %>
