"Hello World"


<form action="/save_new_user" method="post" name="user">
  Nome do usuário
  <br>
  <input type="text" name="name" value=""></input>
  <button type="submit" name="button" value="Enviar">enviarrrrr</button>
</form>

<% @user.each do |user| %>
<li><%= user.id %> <%= user.name %></li>
<% end %>

<% if @user %>
There is users
<% else %>
There is no users
<% end %>
